<%# encoding: UTF-8 %>

<!-- Main Body Starts Here -->
<div id="main_body">
	<!-- Top Part Starts Here -->
	<div id="top_part">

		<!-- Top Part Image Starts Here -->
		<div id="top_part_image">
			<!-- Logo Part Starts Here -->
			<div id="main_logo2">
				<img width="900" height="137" src="assets/main_logo.gif" alt="David's Business Supplies - 780-423-1326" />
			</div>
			<!-- Logo Part Ends Here -->
		</div>
		<!-- Top Part Image Ends Here -->

        <%= render "home/menu" %>

	</div>
	<!-- Top Part Ends Here -->

	<!-- Content Body Starts Here -->
	<div id="content_body">
	
		<div style="font-size:15px;font-weight:bold;">This page is currently being developed. Please call us at (780) 423-1326, <a href="/contact_us">send us an email or drop in</a> and we'll be happy to assist you.</div>
	</div>
	<!-- Content Body Ends Here -->




<%= render "home/foot" %>
</div>
<!-- Main Body Ends Here -->