<!-- Main Body Starts Here -->
<div id="main_body">
	<!-- Top Part Starts Here -->
	<div id="top_part">

		<!-- Top Part Image Starts Here -->
		<div id="top_part_image">
			<!-- Logo Part Starts Here -->
			<div id="main_logo2">
				<img src="/assets/main_logo.gif"  alt="David's Business Supplies"  />
			</div>
			<!-- Logo Part Ends Here -->
		</div>
		<!-- Top Part Image Ends Here -->

        <%= render "home/menu" %>

	</div>
	<!-- Top Part Ends Here -->

    <!-- Content Body Starts Here -->
    <div id="inner_content_body">

        <!-- Content Body Starts Here -->
        <div class="middle_content_body">

            <!-- Heading -->
            <p class="page_title">
                PARTNERS
            </p>
            <!-- Heading -->

            <!-- Partner Logo1 -->
            <div class="clients_logo">
                <a href="http://www.brother.ca" target="_blank" title="Brother :: "><img src="assets/logos/thumbs/brother_thumb.jpg" alt="Brother" /></a>
            </div>
            <!-- Partner Logo1 -->
            
            <!-- Partner Logo2 -->
            <div class="clients_logo">
                <a href="http://www.canon.ca" target="_blank" title="Canon :: "><img src="assets/logos/thumbs/canon_thumb.jpg" alt="Canon" /></a>
            </div>
            <!-- Partner Logo2 -->
            
            <!-- Partner Logo16 -->
            <div class="clients_logo">
                <a href="http://www.dell.ca" target="_blank" title="Dell :: "><img src="assets/logos/thumbs/dell_thumb.jpg" alt="Dell" /></a>
            </div>
            <!-- Partner Logo16 -->
			
            <!-- Partner Logo3 -->
            <div class="clients_logo">
                <a href="http://www.epson.ca" target="_blank" title="Epson :: "><img src="assets/logos/thumbs/epson_thumb.jpg" alt="Epson" /></a>
            </div>
            <!-- Partner Logo3 -->
			
			<!-- Partner Logo4 -->
            <div class="clients_logo">
                <a href="http://www.hp.ca" target="_blank" title="HP :: "><img src="assets/logos/thumbs/hp_thumb.jpg" alt="HP" /></a>
            </div>
            <!-- Partner Logo4 -->
            
            <!-- Partner Logo5 -->
            <div class="clients_logo">
                <a href="http://www.ibm.ca" target="_blank" title="IBM :: "><img src="assets/logos/thumbs/ibm_thumb.jpg" alt="IBM" /></a>
            </div>
            <!-- Partner Logo5 -->
			
            <!-- Partner Logo6 -->
            <div class="clients_logo">
                <a href="http://www.konicaminolta.ca" target="_blank" title="Konica Minolta :: "><img src="assets/logos/thumbs/konicaminolta_thumb.jpg" alt="Konica Minolta" /></a>
            </div>
            <!-- Partner Logo6 -->
			
            <!-- Partner Logo7 -->
            <div class="clients_logo">
                <a href="http://www.kyocera.ca" target="_blank" title="Kyocera :: "><img src="assets/logos/thumbs/kyocera_thumb.jpg" alt="Kyocera" /></a>
            </div>
            <!-- Partner Logo7 -->
			
            <!-- Partner Logo8 -->
            <div class="clients_logo">
                <a href="http://www.lexmark.ca" target="_blank" title="Lexmark :: "><img src="assets/logos/thumbs/lexmark_thumb.jpg" alt="Lexmark" /></a>
            </div>
            <!-- Partner Logo8 -->
			
            <!-- Partner Logo9 -->
            <div class="clients_logo">
                <a href="http://www.okidata.ca" target="_blank" title="Okidata :: "><img src="assets/logos/thumbs/okidata_thumb.jpg" alt="Okidata" /></a>
            </div>
            <!-- Partner Logo9 -->
			
            <!-- Partner Logo10 -->
            <div class="clients_logo">
                <a href="http://www.panasonic.ca" target="_blank" title="Panasonic :: "><img src="assets/logos/thumbs/panasonic_thumb.jpg" alt="Panasonic" /></a>
            </div>
            <!-- Partner Logo10 -->
			
            <!-- Partner Logo11 -->
            <div class="clients_logo">
                <a href="http://www.ricoh.ca" target="_blank" title="Ricoh :: "><img src="assets/logos/thumbs/ricoh_thumb.jpg" alt="Ricoh" /></a>
            </div>
            <!-- Partner Logo11 -->
			
            <!-- Partner Logo12 -->
            <div class="clients_logo">
                <a href="http://www.samsung.ca" target="_blank" title="Samsung :: "><img src="assets/logos/thumbs/samsung_thumb.jpg" alt="Samsung" /></a>
            </div>
            <!-- Partner Logo12 -->
			
            <!-- Partner Logo13 -->
            <div class="clients_logo">
                <a href="http://www.sharp.ca" target="_blank" title="Sharp :: "><img src="assets/logos/thumbs/sharp_thumb.jpg" alt="Sharp" /></a>
            </div>
            <!-- Partner Logo13 -->
			
            <!-- Partner Logo14 -->
            <div class="clients_logo">
                <a href="http://www.toshiba.ca" target="_blank" title="Toshiba :: "><img src="assets/logos/thumbs/toshiba_thumb.jpg" alt="Toshiba" /></a>
            </div>
            <!-- Partner Logo14 -->
			
            <!-- Partner Logo15 -->
            <div class="clients_logo">
                <a href="http://www.xerox.ca" target="_blank" title="Xerox :: "><img src="assets/logos/thumbs/xerox_thumb.jpg" alt="Xerox" /></a>
            </div>
            <!-- Partner Logo15 -->
        </div>
        <!-- Content Body Ends Here -->


        <!-- Clear -->
        <div class="clear">
        </div>
        <!-- Clear -->

    </div>
    <!-- Content Body Ends Here -->

    <!--Footer Starts Here -->
	<%= render "home/foot" %>


</div>
<!-- Main Body Ends Here -->