<!-- Main Body Starts Here -->
<div id="main_body">
    <!-- Top Part Starts Here -->
    <div id="top_part">

        <!-- Top Part Image Starts Here -->
        <div id="top_part_image">

            <!-- Logo Part Starts Here -->
            <div id="main_logo">
                <a href="index.html"><img src="images/main_logo.png"  alt="Design3Edge"  /></a>
            </div>
            <!-- Logo Part Ends Here -->
        </div>
        <!-- Top Part Image Ends Here -->

        <%= render "home/menu" %>

    </div>
    <!-- Top Part Ends Here -->

    <!-- Content Body Starts Here -->
    <div id="inner_content_body">

        <!-- Left Content Body Starts Here -->
        <div class="left_content_body">

            <!-- Heading -->
            <p class="page_title">
                PARTNERS
            </p>
            <!-- Heading -->

            <!-- Partner Logo1 -->
            <div class="clients_logo">
                <a href="http://www.brother.ca" target="_blank" title="Brother :: "><img src="assets/logos/thumbs/brother_thumb.jpg" alt="Brother" /></a>
            </div>
            <!-- Partner Logo1 -->
            
            <!-- Partner Logo2 -->
            <div class="clients_logo">
                <a href="http://www.canon.ca" target="_blank" title="Canon :: "><img src="assets/logos/thumbs/canon_thumb.jpg" alt="Canon" /></a>
            </div>
            <!-- Partner Logo2 -->
            
            <!-- Partner Logo3 -->
            <div class="clients_logo">
                <a href="http://www.epson.ca" target="_blank" title="Epson :: "><img src="assets/logos/thumbs/epson_thumb.jpg" alt="Epson" /></a>
            </div>
            <!-- Partner Logo3 -->
            
        </div>
        <!-- Left Content Body Ends Here -->



        <!-- Right Content Body Starts Here -->
        <div class="right_content_body">

            <!-- Testimonial Starts here -->
            <!-- Heading -->
            <p class="page_sub_title">
                Testimonials
            </p>
            <!-- Heading -->

            <div class="testi_box_client">
                <!-- Testimonial 1 -->
                <span>Technology advances are providing tools to create Rich Internet Applications (RIA) based on the tenets of Web 2.0 </span>
                <p>- sada (Design3Edge) </p>
                <!-- Testimonial 1 -->

                <br />

                <!-- Testimonial 2 -->
                <span>Technology advances are providing tools to create Rich Internet Applications (RIA) based on the tenets of Web 2.0 </span>
                <p>- javatechie (Techiepark)  </p>
                <!-- Testimonial 2 -->

                <br />

                <!-- Testimonial 3-->
                <span>Talk to us if you are looking for business savvy online solutions rather than possibilities of technology.  </span>
                <p>- sada (Design3Edge) </p>
                <!-- Testimonial 3 -->

                <br />

                <!-- Testimonial 4 -->
                <span>Technology advances are providing tools to create Rich Internet Applications (RIA) based on the tenets of Web 2.0 </span>
                <p>- javatechie (Techiepark)  </p>
                <!-- Testimonial 4 -->

                <br />

                <!-- Testimonial 5 -->
                <span>Talk to us if you are looking for business savvy online solutions rather than possibilities of technology.  </span>
                <p>- sada (Design3Edge) </p>
                <!-- Testimonial 5 -->

            </div>

            <!-- Testimonial Ends Here -->

        </div>
        <!-- Right Content Body Ends here -->

        <!-- Clear -->
        <div class="clear">
        </div>
        <!-- Clear -->

    </div>
    <!-- Content Body Ends Here -->

    <!--Footer Starts Here -->
	<%= render "home/foot" %>


</div>
<!-- Main Body Ends Here -->