<!--Footer Starts Here -->
<div id="footer">
	<div class="left">
		<div class="footer_links" >
			<a  href="/">Home</a> &nbsp;| &nbsp;
			<a  href="/about_us">About</a> &nbsp;| &nbsp;
			<a  href="#">Products</a> &nbsp;| &nbsp;
			<a  href="/partners">Partners</a> &nbsp;| &nbsp;
			<a  href="/contact_us">Contact</a>
		</div>
	</div>

	<div class="right" style="padding-right:30px;">
		Copyright (C) 2012 <a style="color:#ffffff;" href="http://www.davidsbusinesssupplies.com/">David's Business Supplies Ltd.</a>. All rights reserved. 
	</div>

</div>
<!-- Footer Ends Here -->