		<!-- Main Menu Starts Here -->
		<div id="main_menu_bg">
			<!-- Main Menu Body Starts Here -->
			<div id="main_menu_body">

				<!-- Menu Links Starts Here -->
				<div class="menu_links">
					<a href="/" class="menu_links">HOME</a><span class="menu_border">&nbsp;</span>
					<a href="/about_us" class="menu_links">ABOUT</a><span class="menu_border">&nbsp;</span>
					<a href="#" class="menu_links">PRODUCTS</a><span class="menu_border">&nbsp;</span>
					<a href="#" class="menu_links">PARTNERS</a><span class="menu_border">&nbsp;</span>
					<a href="/contact_us" class="menu_links">CONTACT</a>
					<%= render 'devise/menu/registration_items' %>
					<%= render 'devise/menu/login_items' %>
				</div>
				<!-- Menu Links Ends Here -->

			</div>
			<!-- Main Menu Body Ends Here -->
		</div>
		<!-- Main Menu Ends Here -->