<%# encoding: UTF-8 %>

<!-- Main Body Starts Here -->
<div id="main_body">
	<!-- Top Part Starts Here -->
	<div id="top_part">

		<!-- Top Part Image Starts Here -->
		<div id="top_part_image">
			<!-- Logo Part Starts Here -->
			<div id="main_logo2">
				<img src="assets/main_logo.gif" alt="David's Business Supplies - 780-423-1326" />
			</div>
			<!-- Logo Part Ends Here -->
		</div>
		<!-- Top Part Image Ends Here -->

		<!-- Main Menu Starts Here -->
		<div id="main_menu_bg">
			<!-- Main Menu Body Starts Here -->
			<div id="main_menu_body">

				<!-- Menu Links Starts Here -->
				<div class="menu_links">
					<a href="index.html" class="menu_active">HOME</a><span class="menu_border">&nbsp;</span>
					<a href="about.html" class="menu_links">ABOUT</a><span class="menu_border">&nbsp;</span>
					<a href="#" class="menu_links">PRODUCTS</a><span class="menu_border">&nbsp;</span>
					<a href="client.html" class="menu_links">PARTNERS</a><span class="menu_border">&nbsp;</span>
					<a href="contact.html" class="menu_links">CONTACT</a>
					<%= render 'devise/menu/registration_items' %>
					<%= render 'devise/menu/login_items' %>
				</div>
				<!-- Menu Links Ends Here -->

			</div>
			<!-- Main Menu Body Ends Here -->
		</div>
		<!-- Main Menu Ends Here -->

	</div>
	<!-- Top Part Ends Here -->

	<!-- Content Body Starts Here -->
	<div id="content_body">
		<!-- Home Content Slider Starts Here -->
		<div id="home_video_box">
			<div id="piecemaker">
				<a href="http://www.adobe.com/go/getflashplayer">
					<img src="http://www.adobe.com/assets/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
				</a>
			</div>
		</div>
		<!-- Home Content Slider Ends Here -->

		<!-- Home News Starts Here -->
		<div id="home_news_box">
			<!-- Headers Starts Here -->
			<div class="headers">
				Latest News
			</div>
			<!-- Headers Ends Here -->

			<!-- News Starts Here -->

			<!-- Box1 Starts Here -->
			<div class="news_boxes">
				<!-- Image Starts Here -->
				<div class="home_news_img">
					<a href="http://qeforms.com/QEBooks/labels/"><img src="assets/news_1.jpg"  alt="News1"  /></a>
				</div>
				<!-- Image Ends Here -->
				<!-- Text Starts Here -->
				<div>
					<p class="news_head"><a class="news_head" href="http://qeforms.com/QEBooks/labels/">Labels: Custom Shapes and Colours!</a></p>
					<p>Tired of square, boring labels? Expand your options with these custom labels and choose your shape, colours, and graphics.</p>
				</div>
				<!-- Text Ends Here -->
			</div>
			<!-- Box1 Ends Here -->

			<!-- Box2 Starts Here -->
			<div class="news_boxes">
				<!-- Image Starts Here -->
				<div class="home_news_img">
					<a href="http://qeforms.com/QEBooks/cheques/index.html"><img src="assets/news_2.jpg"  alt="News2"  /></a>
				</div>
				<!-- Image Ends Here -->
				<!-- Text Starts Here -->
				<div>
					<p class="news_head"><a class="news_head" href="http://qeforms.com/QEBooks/cheques/index.html">Check out our Cheques!</a></p>
					<p>Choose your style, printer type, and software to make cheque runs a breeze!</p>
				</div>
				<!-- Text Ends Here -->
			</div>
			<!-- Box2 Ends Here -->

			<!-- Box3 Starts Here -->
			<div class="news_boxes">
				<!-- Image Starts Here -->
				<div class="home_news_img">
					<a href=""><img src="assets/news_3.jpg" alt="News3"  /></a>
				</div>
				<!-- Image Ends Here -->
				<!-- Text Starts Here -->
				<div>
					<p class="news_head"><a class="news_head" href="">Custom, Blank, or Preprinted Envelopes Available</a></p>
					<p>A large selection of in-stock and custom envelopes, designed with great quality, competitive prices and fast delivery.</p>
				</div>
				<!-- Text Ends Here -->
			</div>
			<!-- Box3 Ends Here -->

			<!-- Box4 Starts Here -->
			<div class="news_boxes">
				<!-- Image Starts Here -->
				<div class="home_news_img">
					<a href=""><img src="assets/news_4.jpg" alt="News4"  /></a>
				</div>
				<!-- Image Ends Here -->
				<!-- Text Starts Here -->
				<div>
					<p class="news_head"><a class="news_head" href="">Can't read your Customer's Bank Cards?</a></p>
					<p>Preventative maintenance is the key to avoiding hangups at the payment line. Clean your card reader with a head cleaning card.</p>
				</div>
				<!-- Text Ends Here -->
			</div>
			<!-- Box4 Ends Here -->

			<!-- Box5 Starts Here -->
			<div class="news_boxes">
				<!-- Image Starts Here -->
				<div class="home_news_img">
					<a href="http://www.qeforms.com/QEBooks/accounting/index.html"><img src="assets/news_5.jpg" alt="News5"  /></a>
				</div>
				<!-- Image Ends Here -->
				<!-- Text Starts Here -->
				<div>
					<p class="news_head"><a class="news_head" href="http://www.qeforms.com/QEBooks/accounting/index.html">Computer Forms that Fit your Software Needs</a></p>
					<p>Save time, ink, and money by printing your invoices, statements and other forms on preprinted custom forms.</p>
				</div>
				<!-- Text Ends Here -->
			</div>
			<!-- Box5 Ends Here -->

			<!-- News Ends Here -->
		</div>
		<!-- Home News Ends Here -->


		<!-- Home Social & Newsletter Part Starts here -->
		<div id="home_middle_part">
			<!-- Testimonial Starts Here -->
			<div id="testi_home">
			  <div class="testi_box">
				<span>
					<p>YOUR SUPPLY AND SERVICE SOLUTION<br> 
					SERVING WESTERN CANADA SINCE 1978<br> 
					DAVID'S 100% ALBERTA OWNED AND OPERATED BUSINESS <br>
					PROVIDES GUARANTEED PRODUCTS AT LOW PRICES WITH FAST SERVICE.</p>
				</span>
			  </div>
			</div>
			<!-- Testimonial Ends Here -->
			  
			<!-- News Letter Starts Here -->
			<div id="newsletter_box">
				<img title="Call Now! (780) 423-1326" src="assets/news_letter_image.jpg"  alt="Call Now!" />
			</div>
			<!-- NewsLetter Ends Here -->
		</div>
		<!-- Home Social & Newsletter Part Starts here -->


		<!-- Home Right Box Starts here -->
		<div id="home_right_box">

			<!-- Clients Starts Here -->
			<!-- Headers Starts Here -->
			<div class="headers">
				Partners
			</div>
			<!-- Headers Ends Here -->

			<div class="clients">

				<!-- Client1 -->
				<p>
					<a href="http://www.qeforms.com/" ><img src="assets/qeforms_thumb.jpg" alt="QE Forms" title="QE Forms" /></a>
				</p>
				<!-- Clients1 -->


				<!-- Client2 -->
				<p>
					<a href="https://supreme.basics.com/guest.htm?ECINFO=GUESTWELCOME" ><img src="assets/supreme_thumb.jpg" alt="Supreme Basics" title="Supreme Basics" /></a>
				</p>
				<!-- Client2 -->

				<!-- Readmore Starts Here -->
				<div class="read_more">
					<a href="client.html">View more...</a>
				</div>
				<!-- Readmore Ends Here -->

			</div>
			<!-- Clients Ends Here -->

		</div>
		<!-- Home Right Box Ends Here -->

		<!-- Clear -->
		<div class="clear">
		</div>
		<!-- Clear -->

	</div>
	<!-- Content Body Ends Here -->




<%= render "home/foot" %>
</div>
<!-- Main Body Ends Here -->