<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @clientcategory.description %>
</p>


<%= link_to 'Edit', edit_clientcategory_path(@clientcategory) %> |
<%= link_to 'Back', clientcategories_path %>
