
<!-- Main Body Starts Here -->
<div id="main_body">
	<!-- Top Part Starts Here -->
	<div id="top_part">

		<!-- Top Part Image Starts Here -->
		<div id="top_part_image">
			<!-- Logo Part Starts Here -->
			<div id="main_logo2">
				<img src="/assets/main_logo.gif"  alt="David's Business Supplies"  />
			</div>
			<!-- Logo Part Ends Here -->
		</div>
		<!-- Top Part Image Ends Here -->

		<!-- Main Menu Starts Here -->
		<div id="main_menu_bg">
			<!-- Main Menu Body Starts Here -->
			<div id="main_menu_body">
				<!-- Menu Links Starts Here -->
				<div class="menu_links">
					<a href="index.html" class="menu_links"  >HOME</a><span class="menu_border">&nbsp;</span>
					<a href="about.html" class="menu_links">ABOUT</a><span class="menu_border">&nbsp;</span>
					<a href="#" class="menu_links">SERVICES</a><span class="menu_border">&nbsp;</span>
					<a href="client.html"  class="menu_links">CLIENTS</a><span class="menu_border">&nbsp;</span>
					<a href="contact.html" class="menu_active">CONTACT</a>
				</div>
				<!-- Menu Links Ends Here -->
			</div>
			<!-- Main Menu Body Ends Here -->
		</div>
		<!-- Main Menu Ends Here -->

	</div>
	<!-- Top Part Ends Here -->

	<!-- Content Body Starts Here -->
	<div id="inner_content_body">

		<!-- Left Content Body Starts Here -->
		<div class="left_content_body">

			<!-- Heading -->
			<p class="page_title">
			CONTACT US
			</p>
			<!-- Heading -->

			For information or pricing on your supplies, please give us a call, stop in, or contact us using the form below.
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?hl=en&amp;ie=UTF8&amp;q=David's+Business+Supplies&amp;fb=1&amp;gl=ca&amp;hq=David's+Business+Supplies&amp;hnear=0x53a0224580deff23:0x411fa00c4af6155d,Edmonton,+AB&amp;cid=0,0,10533730739137382873&amp;ll=53.549137,-113.508227&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe><br />
			<small><a href="https://maps.google.ca/maps?hl=en&amp;ie=UTF8&amp;q=David's+Business+Supplies&amp;fb=1&amp;gl=ca&amp;hq=David's+Business+Supplies&amp;hnear=0x53a0224580deff23:0x411fa00c4af6155d,Edmonton,+AB&amp;cid=0,0,10533730739137382873&amp;ll=53.549137,-113.508227&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			<p style="margin-top:15px;">
			
			</p>

			<p style="margin-top:15px;" class="text_style2">Contact from</p>
			dapibus egestas, tellus ipsum rhoncus 
			orci, eu vestibulum nisi orci quis nunc.Curabitur auctor leo vehicula justo 
			ac euismod justo rhoncus. 
			<br /><br />

			<!-- Form Starts Here -->
			<div class="contact">
				<form id="contactForm"  method="post" action="http://www.design3edge.com">
					<p>
					Name <span class="star">*</span>
					</p>

					<p>
					<input type="text" name="name" id="name" value=""/>
					</p>



					<p style="margin-top:20px;">
					E-Mail <span class="star">*</span>
					</p>

					<p>
					<input type="text" name="email" id="email" value=""/>
					</p>

					<p style="margin-top:20px;">
					Your Message
					</p>

					<p>
					<textarea rows="3" cols="50" name="message"></textarea>
					</p>

					<p style="margin-top:20px;">
					<input type="image" src="images/send_btn.png" name="submit" id="submit"  />
					</p>


				</form>
			</div>
			<!-- Form Ends Here -->


		</div>
		<!-- Left Content Body Ends Here -->



		<!-- Right Content Body Starts Here -->
		<div class="right_content_body">

			<!-- Contact Starts here -->
				<!-- Heading -->
					<p class="page_sub_title">
					STAY IN TOUCH
					</p>
				<!-- Heading -->

				<ul class="more_links">
					<li>9839 Lorem Ipsum</li>
					<li>India, Bangalore</li>
					<li>Asia, India</li>
					<li>Telephone: <b>+91 - 1234567890</b></li>
					<li>Email: <b>contact@design3edge.com</b></li>
				</ul>

				<br />

				<!-- Social Starts Here -->
					<!-- Heading -->
						<p class="page_sub_title">
						FOLLOW US ON
						</p>
					<!-- Heading -->

					<div id="social_bookmark_box">
						<a href="http://twitter.com/Design3edge"><img title="Follow us on Twitter" src="images/twitter_icon.png" alt="Design3edge" /></a> 
						<a href="http://facebook.com/Design3edge"><img title="Follow us on Facebook" src="images/facebook_icon.png" alt="Design3edge" /></a>
						<a href="http://twitter.com/Design3edge"><img title="Follow us on Linkdin" src="images/linkdin_icon.png" alt="Design3edge" /></a>
					</div>
				<!-- Social Ends Here -->


				<br />

				<!-- Testimonial Starts Here -->

					<!-- Heading -->
					<p class="page_sub_title">
					TESTIMONIAL
					</p>
					<!-- Heading -->

					<div class="testi_box1">
						<span>Technology advances are providing tools to create Rich Internet Applications (RIA) based on the tenets of Web 2.0 </span>
						<p>- sada (Design3Edge) </p>
					</div>
				<!-- Testimonial Ends here -->
			<!-- Contact Ends Here -->

		</div>
		<!-- Right Content Body Ends here -->

		<!-- Clear -->
			<div class="clear">
			</div>
		<!-- Clear -->

	</div>
	<!-- Content Body Ends Here -->

	<%= render "home/foot" %>

</div>
<!-- Main Body Ends Here -->
