<!--Footer Starts Here -->
<div id="footer">
	<div class="left">
		<div class="footer_links" >
			<a  href="index.html">Home</a> &nbsp;| &nbsp;
			<a  href="about.html">About</a> &nbsp;| &nbsp;
			<a  href="#">Products</a> &nbsp;| &nbsp;
			<a  href="client.html">Partners</a> &nbsp;| &nbsp;
			<a  href="contact.html">Contact</a>
		</div>
	</div>

	<div class="right" style="padding-right:30px;">
		Copyright (C) 2010 <a style="color:#ffffff;" href="http://www.design3edge.com/">David's Business Supplies Ltd.</a>. All rights reserved. 
	</div>

</div>
<!-- Footer Ends Here -->