<!-- Main Body Starts Here -->
<div id="main_body">
	<!-- Top Part Starts Here -->
	<div id="top_part">

		<!-- Top Part Image Starts Here -->
		<div id="top_part_image">
			<!-- Logo Part Starts Here -->
			<div id="main_logo2">
				<img src="/assets/main_logo.gif"  alt="David's Business Supplies"  />
			</div>
			<!-- Logo Part Ends Here -->
		</div>
		<!-- Top Part Image Ends Here -->

        <%= render "home/menu" %>

	</div>
	<!-- Top Part Ends Here -->

    <!-- Content Body Starts Here -->
    <div id="inner_content_body">

        <!-- Content Body Starts Here -->
        <div class="middle_content_body">

            <!-- Heading -->
            <p class="page_title">
                PRODUCTS
            </p>
            <!-- Heading -->
			
			<div style="font-size:15px;font-weight:bold;">This page is currently being developed. Please call us at (780) 423-1326, <a href="/contact_us">send us an email or drop in</a> and we'll be happy to assist you.</div>
			<br />
			<h2>We sell:</h2>
			<ul>
				<li>TONER (original and remanufactured)</li>
				<li>CASH REGISTER / POS / VISA / ATM / DEBIT ROLLS</li>
				<li>THERMAL ROLLS / ADDER ROLLS</li>
				<li>GUEST CHECKS / HOTEL FRONT DESK FORMS</li>
				<li>CUSTOM CHEQUES / FORMS</li>
				<li>LABELS / INVOICES / COPY PAPER / INK RIBBONS / ENVELOPES</li>
				<li>CREDIT CARD / HOTEL LOCK CLEANERS</li>
				<li>INKJETS / FULL LINE OF BUSINESS STATIONERY</li>
				<li>LASER PRINTER / COPIER SERVICE AVAILABLE</li>
			</ul>
			
			<p>Please call or email for current pricing on your supplies.
			


        </div>
        <!-- Content Body Ends Here -->


        <!-- Clear -->
        <div class="clear">
        </div>
        <!-- Clear -->

    </div>
    <!-- Content Body Ends Here -->

    <!--Footer Starts Here -->
	<%= render "home/foot" %>


</div>
<!-- Main Body Ends Here -->